<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travielle</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Section : Navbar -->
    <div class="navbar-fixed">
      <nav class="deep-purple accent-3">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">Travielle</a>
          </div>
        </div>
      </nav>
    </div>

    <!--Section : Image Slider-->
    <section class="slider">
      <ul class="slides">
        <li>
          <img src="../img/resort1.jpg" />
          <div class="caption center-align">
            <h2>Take Your Dream Vacation</h2>
            <h5 class="light grey-text text-lighten-3 hide-on-small-only">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
              veritatis, praesentium corporis rerum adipisci vero?
            </h5>
          </div>
        </li>
        <li>
          <img src="../img/resort2.jpg" />
          <div class="caption left-align">
            <h2>We Work with All Budgets</h2>
            <h5 class="light grey-text text-lighten-3 hide-on-small-only">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ad
              sunt facere, molestias at impedit!
            </h5>
          </div>
        </li>
        <li>
          <img src="../img/resort3.jpg" />
          <div class="caption right-align">
            <h2>Group & Individual Getaways</h2>
            <h5 class="light grey-text text-lighten-3 hide-on-small-only">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
              repellendus repudiandae enim quaerat assumenda dicta.
            </h5>
          </div>
        </li>
      </ul>
    </section>

    <!-- section : Search Area -->
    <section
      id="search"
      class="section section-search deep-purple accent-3 center scrollspy"
    >
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h3 class="white-text">Search Destination</h3>
            <div class="input-field">
              <input
                type="text"
                class="white autocomplete"
                id="autocomplete-input"
                placeholder="London,Mumbai"
              />
              <input
                type="text"
                class="datepicker white"
                placeholder="Jul 24,2020"
              />
              <!-- <input type='submit' href="#modal1" class="btn waves-effect blue darken-4 black-text modal-trigger" value="Submit"> -->
              <button class="btn blue darken-4">SUBMIT</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section Tab -->
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a href="#trip" class="active">Trips</a></li>
          <li class="tab col s6"><a href="#past-trip">Past Trips</a></li>
        </ul>
      </div>
      <div id="trip">
        <div class="container center" id="trips">
          <!--This is filled by javascipt-->
        </div>
      </div>
      <div id="past-trip">
        <div class="container center" id="past-trips">

        </div>
      </div>
    </div>

    <!--section : Modal Displays the imformation about the Trip-->
    <div id="modal1" class="modal">
      <div class="modal-content" id="modal-content1">
        <div class="row center" id="test">
          <div class="col s12" id="carousel">
            <div class="carousel carousel-slider">
              <a class="carousel-item" href="#one!"
                ><img
                  class="responsive-img"
                  src="https://lorempixel.com/800/400/city/1"
              /></a>
              <a class="carousel-item" href="#two!"
                ><img
                  class="responsive-img"
                  src="https://lorempixel.com/800/400/city/2"
              /></a>
              <a class="carousel-item" href="#three!"
                ><img
                  class="responsive-img"
                  src="https://lorempixel.com/800/400/city/3"
              /></a>
              <a class="carousel-item" href="#four!"
                ><img
                  class="responsive-img"
                  src="https://lorempixel.com/800/400/city/4"
              /></a>
            </div>
          </div>
          <div class="col s12 center">
            <h4 id="trip_destination">Trip to</h4>
          </div>
          <div class="col s12 m6 l6">
            <div class="card white darken-2">
              <div class="card-content">
                <div class="row">
                  <div class="col s12">
                    <img
                      src="../img/resort1.jpg"
                      alt="Weather icon"
                      class="responsive-img weather_icon"
                    />
                  </div>
                  <div class="col s12" id="weather_info"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div class="card white darken-2">
              <div class="card-content">
                <span class="card-title" id="countryInfoTitle"
                  >About India</span
                >
                <img
                  src="../img/resort1.jpg"
                  class="responsive-img flag"
                  alt="Country's Flag"
                  id="countryInfoImage"
                />
                <div id="countryInfo"></div>
              </div>
            </div>
          </div>
          <div class="col s12 center">
            <h5 class="days_left">No of Days left : 5days</h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat deep-purple accent-3"
          >Close</a
        >
        <button class="waves-effect waves-green btn-flat" id="print">
          Print
        </button>
        <button class="waves-effect waves-green btn-flat green" id="save">
          Save
        </button>
        <button class="waves-effect waves-green btn-flat red" id="delete">
          Delete
        </button>
      </div>
    </div>
  </body>
</html>
