

input{
    padding-left :10px !important;
}


.modal{
    max-height :80% !important;
    padding:0 !important;
}

div.modal-content{
    padding:0 !important;
}

#carousel{
    padding:0 !important;
}

@media(max-width:600px){
.carousel{
    height:200px !important;
}
}

/*@media(min-width:900px){
    .carousel{
        height:40vh !important;
    }
}*/

.flag{
    border: 1px solid rgba(0,0,0,0.2);
}

.indicator{
    background-color:blue !important;
}



.tabs a{
    color:blueviolet !important;
    font-weight: bold !important;
    font-size:1.5em !important;
}

#trips{
    padding-top:50px;
}


html{
    font-family: 'Cabin',monospace,sans-serif;
    font-style: italic;
}
.brand-logo{
    font-family: 'Pacifico',sans-serif;
}


input{
    border-radius: 30px !important;
}

#submit{
    border-radius: 30px !important;
    width: 100% !important;
    height:7vh;
}
