

input{
    padding-left :10px !important;
}


.modal{
    max-height :80% !important;
    padding:0 !important;
}

div.modal-content{
    padding:0 !important;
}

#carousel{
    padding:0 !important;
}

@media(max-width:600px){
.carousel{
    height:200px !important;
}
}

/*@media(min-width:900px){
    .carousel{
        height:40vh !important;
    }
}*/

.flag{
    border: 1px solid rgba(0,0,0,0.2);
}
