

input{
    padding-left :10px !important;
}


.modal{
    max-height :80% !important;
    padding:0 !important;
}

div.modal-content{
    padding:0 !important;
}

#carousel{
    padding:0 !important;
}